<div class="card">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <input
                    [(ngModel)]="task.name"
                    type="text"
                    name="name"
                    placeholder="Task name"
                    class="form-control"
                >
            </div>
            <div class="mb-3">
                <textarea
                    [(ngModel)]="task.desc"
                    rows="3"
                    name="desc"
                    placeholder="Task description"
                    class="form-control"
                ></textarea>
            </div>
            <div class="mb-3">
                <input
                    [(ngModel)]="task.priority"
                    type="number"
                    name="name"
                    placeholder="Task priority"
                    class="form-control"
                >
            </div>
            <div class="d-grid">
                <button
                    (click)="handleAddTask()"
                    type="button"
                    class="btn btn-success"
                >
                    Add
                </button>
            </div>
        </form>
    </div>
</div>
